@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-size: 1.1rem;
    font-weight: 350;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(246, 251, 255);
}

.main-container {
    display: flex;
}

.homeSection {
    display: flex;
    flex-direction: column;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    background: transparent;
    background-color: var(--bgColor);
    box-shadow: var(--bxShadow);
}

.home {
    /* height: 500px; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 10px 30px 10px 30px; */
    padding: 20px;
    background-color: var(--bgColor);
    border-bottom: 1px solid rgba(153, 153, 153, 0.433);
    /* border: 1px solid yellow; */
}

/* .homeHeader {
    height: 8%;
}

.homeUser p {
    font-size: .9rem;
} */

.home .publish-details {
    font-size: .7rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home .publish-details .author {
    width: 35%;
}

.home .publish-details .author img {
    height: 60%;
}

.homeTitle a {
    font-size: 1.3rem;
}

.homeBlog {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homeImg {
    height: 80%;
    width: 100%;
    display: block;
}

.homeImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* .reactions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.like,
.comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.like {
    width: 12%;
}

.comments {
    width: 27%;
}

.reactions span {
    height: 80%;
}


.like-icon,
.comment-icon {
    scale: 1.3;
}

.home-comments {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
    background-color: white;
    transition: all .3s linear;
    margin-top: 10px;
}

.comment {
    width: 100%;
}

.home-comments input {
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(9, 9, 111);
}

.user-comment {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-comment button {
    width: 60px;
    font-size: .9rem;
    padding: 6px;
    border: 1px solid rgb(2, 2, 49);
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: all .3s linear;
}

.user-comment button:hover {
    background: #0c4da9dd;
    border: 1px solid #0c4da9dd;
    color: white;
} */


@media only screen and (max-width: 700px) {
    .home {
        height: 400px;
        padding: 15px;
    }
}

@media only screen and (max-width: 600px) {
    .homeContainer {
        width: 100vw;
    }

    .home {
        height: 350px;
        padding: 15px;
    }

    .homeBlog {
        height: 80%;
    }

    .homeImg {
        height: 70%;
    }

    .homeTitle a {
        padding: 0px;
        font-size: .9rem;
        line-height: .01rem;
    }

    .like,
    .comments {
        width: 100%;
    }

    .reactions {
        justify-content: space-around;
    }
}

@media only screen and (max-width:300px) {
    .home {
        height: 300px;
    }
}